<div class="chat-menu-wrapper">
  <graffiti-discover
    v-slot="{ objects: chatObjects }"
    :channels="[currentChatChannel]"
    :schema="groupChatSchema"
  >
    <button disabled class="search">Search (TBD)</button>
    <!-- RENAME -->
    <button class="chat-menu-btn" @click="showRenameForm = !showRenameForm">
      Rename
    </button>

    <form
      v-if="showRenameForm"
      @submit.prevent="renameGroup($graffitiSession.value)"
      class="chat-menu-form"
    >
      <input v-model="renameText" placeholder="New chat name" />
      <input type="submit" value="Rename" />
    </form>

    <!-- PARTICIPANTS -->
    <button
      class="chat-menu-btn"
      @click="showParticipantList = !showParticipantList"
    >
      Participants
    </button>
    <graffiti-discover
      v-slot="{ objects: participantObjects, isInitialPollingParticipants }"
      :channels="[currentChatChannel]"
      :schema="participantsSchema"
    >
      <p v-if="isInitialPollingParticipants">Loading...</p>
      <ul class="participant-list" v-if="showParticipantList">
        <li
          v-for="participant in getParticipantList(chatObjects[0], participantObjects)"
          :key="participant"
        >
          {{ participant }}
        </li>
      </ul>
    </graffiti-discover>

    <!-- INVITE -->

    <button class="chat-menu-btn" @click="showInviteForm = !showInviteForm">
      Invite User
    </button>

    <form
      v-if="showInviteForm"
      @submit.prevent="inviteUser($graffitiSession.value, inviteeActor)"
      class="chat-menu-form"
    >
      <input v-model="inviteeActor" placeholder="Actor ID to invite" />
      <input type="submit" value="Invite" />
    </form>

    <!-- LEAVE -->
    <button class="chat-menu-btn" @click="leaveChat($graffitiSession.value)">
      Leave
    </button>
  </graffiti-discover>
</div>
