<div class="chat-list-container">
  <div class="chats-header">
    <h2>Chats</h2>
    <router-link
      :to="`/create-chat`"
      class="add-btn"
      @click="showCreateForm = !showCreateForm"
      >+</router-link
    >
  </div>
  <graffiti-discover
    v-slot="{ objects: groupChatObjects, isInitialPolling }"
    :channels="['designftw']"
    :schema="groupChatSchema"
  >
    <ul class="chat-list">
      <li v-if="isInitialPolling">Loading...</li>
      <li
        v-for="object of groupChatObjects.sort((a, b) => b.lastModified - a.lastModified).filter(c => c.value.object.participants.includes($graffitiSession.value.actor))"
        :key="object.url"
      >
        <graffiti-discover
          v-slot="{ objects: renameObjects, isRenameInitialPolling }"
          :channels="[object.value.object.channel]"
          :schema="renameSchema"
        >
          <p v-if="isRenameInitialPolling">Loading...</p>
          <template v-else>
            <router-link
              :class="{ 'active-chat': object.value.object.channel === currentChatChannel }"
              :to="`/chat/${object.value.object.channel}`"
            >
              {{renameObjects.sort((a, b) => b.lastModified -
              a.lastModified)[0]?.value.name || object.value.object.name }}
              <!--{{object.value.object.participants}}-->
            </router-link>
          </template>
        </graffiti-discover>
      </li>
    </ul>
  </graffiti-discover>
</div>
