<div class="chat-list-container">
  <div class="chats-header">
    <h2>Chats</h2>
    <router-link
      :to="`/create-chat`"
      class="add-btn"
      @click="showCreateForm = !showCreateForm"
      >+</router-link
    >
  </div>
  <graffiti-discover
    v-slot="{ objects: groupChatObjects, isInitialPolling }"
    :channels="['designftw']"
    :schema="groupChatSchema"
  >
    <ul class="chat-list">
      <li v-if="isInitialPolling">Loading...</li>
      <template
        v-for="object of groupChatObjects.sort((a, b) => b.lastModified - a.lastModified)"
        :key="object.url"
      >
        <!--{{object}}-->
        <graffiti-discover
          v-slot="{ objects: participantObjects, isInitialPollingParticipants }"
          :channels="[object.value.object.channel]"
          :schema="participantsSchema"
        >
          <graffiti-discover
            v-slot="{ objects: renameObjects, isRenameInitialPolling }"
            :channels="[object.value.object.channel]"
            :schema="renameSchema"
          >
            <template
              v-if="getParticipantList(object, participantObjects).includes($graffitiSession.value.actor)"
            >
              <p v-if="isRenameInitialPolling || isInitialPollingParticipants">
                Loading...
              </p>
              <template v-else>
                <router-link
                  :class="{ 'active-chat': object.value.object.channel === currentChatChannel }"
                  :to="`/chat/${object.value.object.channel}`"
                >
                  {{renameObjects.sort((a, b) => b.lastModified -
                  a.lastModified)[0]?.value.name || object.value.object.name }}
                  <!--{{object.value.object.participants}}-->
                </router-link>
              </template>
            </template>
          </graffiti-discover>
        </graffiti-discover>
      </template>
    </ul>
  </graffiti-discover>
</div>
