<div class="chat-container">
  <ChatList :currentChatChannel="channel" class="optionalChatList" />
  <graffiti-discover
    v-slot="{ objects: groupChatObjects, isInitialPolling }"
    :channels="[channel]"
    :schema="groupChatSchema"
  >
    <graffiti-discover
      v-slot="{ objects: renameObjects, isRenameInitialPolling }"
      :channels="[channel]"
      :schema="renameSchema"
    >
      <div v-if="isInitialPolling || isRenameInitialPolling">Loading...</div>
      <div v-else class="messages" :class="{ hideMessagesOnMobile: showMenu }">
        <div class="chat-header">
          <h2>
            {{ renameObjects.sort((a, b) => b.lastModified -
            a.lastModified)[0]?.value.name ||
            groupChatObjects[0]?.value.object.name || "no name"}}
          </h2>
          <!--{{channel}}-->
          <button class="menu-btn" @click="this.showMenu = !this.showMenu">
            Menu
          </button>
        </div>
        <graffiti-discover
          v-slot="{ objects: messageObjects, isInitialPolling }"
          autopoll
          :channels="[channel]"
          :schema="messageSchema"
        >
          <!--{{messageObjects}}-->
          <ul class="message-list">
            <li v-if="isInitialPolling">Loading...</li>
            <li
              v-for="object of messageObjects.sort((a, b) => a.value.published - b.value.published)"
              :key="object.url"
            >
              <!--{{object}}-->
              <message :object="object" />
            </li>
          </ul>
        </graffiti-discover>
        <form
          @submit.prevent="sendMessage($graffitiSession.value)"
          class="message-form"
        >
          <fieldset :disabled="sending">
            <input
              type="text"
              v-model="myMessage"
              placeholder="Message"
              ref="messageInput"
            />
            <input type="submit" :value="sending? 'Sending...' : 'Send'" />
          </fieldset>
        </form>
      </div>
    </graffiti-discover>
  </graffiti-discover>
  <chat-menu v-if="showMenu" :currentChatChannel="channel" />
</div>
