<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DesignFTW Chatroom</title>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
          "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.5.0/dist/vue-router.esm-browser.prod.js",
          "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@0.6.4/dist/browser/index.js",
          "@graffiti-garden/implementation-remote": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-remote@0.6.2/dist/browser/index.js",
          "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@0.7.2/dist/browser/plugin.mjs"
        }
      }
    </script>
    <link rel="stylesheet" href="styles/login.css" />
    <link rel="stylesheet" href="styles/profile.css" />
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/friends.css" />
    <link rel="stylesheet" href="styles/chat.css" />
    <link rel="stylesheet" href="styles/create-chat.css" />
    <link rel="stylesheet" href="styles/chat-list.css" />
    <link rel="stylesheet" href="styles/chat-menu.css" />
    <link rel="stylesheet" href="styles/message.css" />
    <link rel="stylesheet" href="styles/message-actions.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header class="app-header">
        <h1><router-link :to="`/`">DesignFTW Chatroom</router-link></h1>
        <div class="header-user" v-if="$graffitiSession.value">
          <h2>
            <router-link
              :to="`/profile/?username=${$graffitiSession.value.actor}`"
            >
              {{$graffitiSession.value.actor}}
            </router-link>
          </h2>
          <router-link :to="`/`">
            <button
              class="logout-button"
              @click="$graffiti.logout($graffitiSession.value)"
            >
              Log Out
            </button>
          </router-link>
        </div>
      </header>
      <main>
        <router-view v-if="$graffitiSession.value"></router-view>
        <div v-else class="login">
          <h2>Please log in to see the chatroom</h2>
          <button @click="$graffiti.login()">Log In</button>
        </div>
      </main>
    </div>
    <script src="index.js" type="module"></script>
  </body>
</html>
