<div
  v-if="object.actor === $graffitiSession.value.actor"
  class="you-wrapper"
  :id="'message-' + object.url"
>
  <div v-if="object.value.editing" class="message-bubble-you">
    <form
      @submit.prevent="updateMessage(object, $graffitiSession.value)"
      class="message-edit-form"
    >
      <textarea
        type="text"
        v-model="object.value.editContent"
        ref="messageInput"
      ></textarea>
      <input type="submit" value="Update" />
    </form>
  </div>
  <div v-else class="you-wrapper">
    <div class="message-bubble-you">
      {{object.value.content }}

      <span class="message-timestamp">
        {{ new Date(object.value.published).toLocaleString() }}
      </span>
    </div>
    <message-actions
      v-if="object.actor === $graffitiSession.value.actor"
      :onEdit="() => startEditing(object)"
      :onDelete="() => deleteMessage(object)"
    />
  </div>
</div>
<div v-else class="other-wrapper">
  <div class="message-metadata">
    <strong>{{ object.actor }}</strong>
  </div>
  <div class="message-bubble-other" :id="'message-' + object.url">
    {{ object.value.content }}
    <span class="message-timestamp">
      {{ new Date(object.value.published).toLocaleString() }}
    </span>
  </div>
</div>
