* {
  font-family: Helvetica Neue, Segoe UI, sans-serif;
  /*max-width: 100%;*/
}

* :not(button) {
  word-break: break-word;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  background-color: #f3f0ff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main {
  background-color: #f3f0ff;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow: hidden;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button,
input[type="submit"] {
  background-color: #5137f3;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  margin: 3px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3e29c9;
}
input[type="submit"]:hover {
  background-color: #3e29c9;
}

input[type="submit"]:disabled {
  background-color: #999;
  cursor: not-allowed;
}

:checked + input[type="text"] {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}
