.chat-list-container {
  height: 100%;
  min-width: 300px;
  background-color: #ddd3f5;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .optionalChatList {
    display: none;
  }
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat-list li {
  display: flex;
  margin: 0.5em 0;
  border-radius: 6px;
  padding: 0;
}

.chat-list a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex: 1;
  padding: 1rem;
  border-radius: 0.4em;
  background-color: #f3f0ff;
  transition: background-color 0.2s;
}
.chat-list a:hover {
  background-color: #e2dcf8;
}
.chat-list a.active-chat {
  background-color: #c8bfff;
  font-weight: bold;
}

.chats-header {
  flex-shrink: 0;
  background-color: #c8bfff;
  padding: 0.2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #6a5acd;
  transition: transform 0.2s;
}
.add-btn:hover {
  transform: scale(1.2);
  background-color: #e2dcf8;
}
