.message-bubble-you,
.message-bubble-other {
  max-width: 60%;
  padding: 0.75rem 1rem;
  border-radius: 18px;
  font-size: 0.95rem;
  line-height: 1.4;
  word-wrap: break-word;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #ddd3f5;
}

/*.message-bubble-you {
  flex-direction: column;    
  box-sizing: border-box;
}*/

.you-wrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}

.message-bubble-you {
  /*align-self: flex-end;*/
  width: 100%;
  display: flex;
  /*flex-grow: 1;*/
  text-align: right;
  border-bottom-right-radius: 4px;
  flex-direction: column;
}

message-actions {
  align-self: center;
  background-color: #ddd3f5;
}
.message-bubble-other {
  align-self: flex-start;
  color: black;
  border-bottom-left-radius: 4px;
}
.other-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-edit-form {
  display: flex;
  flex-direction: column;
  width: 100%; /* inherit bubble width */
  max-width: 100%;
  gap: 0.5rem;
  margin-top: 0.3rem;
  box-sizing: border-box;
}

.message-edit-form textarea {
  /*flex: 1;*/
  width: 100%;
  min-height: 2rem;
  resize: vertical;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #fff;
  box-sizing: border-box;
}

.message-metadata {
  font-size: 0.75rem;
  color: #555;
  margin-bottom: 0.25rem;
}

.message-timestamp {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.7rem;
  color: #777;
  text-align: right;
}
.message-bubble-other .message-timestamp {
  text-align: left;
}

/*.highlighted {
  animation: highlight-flash 2s ease-out;
  background-color: #5137f3;
  border-radius: 4px;
}

@keyframes highlight-flash {
  0% {
    background-color: #5137f3;
  }
  100% {
    background-color: transparent;
  }
}*/

.highlighted {
  animation: highlight-fade 0.5s ease-out;
  background-color: #c5b4ff;
  border-radius: 6px;
}

@keyframes highlight-fade {
  0% {
    background-color: #e2d7ff;
  }
  100% {
    background-color: #c5b4ff;
  }
}
